[submodule "r2-controller-interfaces"]
	path = r2-controller-interfaces
	url = git@github.com:R2-Labs/r2-controller-interfaces.git
[submodule "r2_backend_models"]
	path = r2_backend_models
	url = git@github.com:R2-Labs/r2_backend_models.git
